.btn {
    &,
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        display: inline-block;
        border-radius: 10rem;
        transition: all .2s ease-out;
        width: 30rem;
        position: relative;
        font-size: 1.9rem;
        border: none;
        cursor: pointer;
        
    }
    &:hover {
        transform: translateY(-.3rem);
        box-shadow: 0 1rem 2rem rgba($color-black, .2);
        &::after {
            transform: scaleX(1.2) scaleY(1.3);
            opacity: 0;
        }
    }
    &:active,
    &:focus {
        outline: none;
        box-shadow: 0 .5rem 1rem rgba($color-black, .2);
    }
    &--white {
        background-color: $color-white;
        color: $color-black;
        padding: 1rem 4rem;
        &::after {
            background-color: $color-white;
        }
    }
    &--black {
        background-color: $color-black;
        color: $color-white;
        letter-spacing: 1rem;
        padding: 1rem 8rem;
        &::after {
            background-color: $color-black;
        }
    }
    &--black-2 {
        background-color: $color-black;
        color: $color-white;
        // letter-spacing: .3rem;
        width: 24rem;
        padding: 1.2rem 4rem;
        text-transform: uppercase;
        text-decoration: none;
        &::after {
            background-color: $color-black;
        }
    }
    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }
    &--animated {
        animation: moveIn 5s ease-in;
        animation-fill-mode: backwards;
    }
}

.btn-text {
    &:link,
    &:visited {
        color: $color-black;
        display: inline-block;
        text-decoration: none;
        border-bottom: .1rem solid $color-dark-gray;
        padding: 1rem 2rem;
        text-transform: uppercase;
        font-weight: 500;
    }
    &:hover {
        background-color: $color-black;
        color: $color-light-gray;
        box-shadow: 0 1rem 2rem rgba($color-black, .2);
        transform: translateY(-.2rem);
    }
    &:active {
        box-shadow: 0 .5rem 1rem rgba($color-black, .2);
        transform: translateY(0);
    }
}